<!DOCTYPE html>
<html lang="en">
  <head>
      
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <script src="https://use.fontawesome.com/76f63edc47.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Style.css')}}" />
    <title>Meeka || home</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <img src="{{url_for('static', filename='img/soundcloud.png')}}" alt="soundcloudlogo" />
            </div>
            <div class="col2">
              <nav>
                <ul>
                  <a href=""> <li>home</li></a>
                  <a href=""> <li>about us</li></a>
                  <a href=""> <li>tracks</li></a>
                </ul>
                <form action="" class="form">
                  <input class="search_bar"
                    type="text"
                    type="search"
                    placeholder="search for all songs"
                  />
                  <a  class="s-btn" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                 </form>
                  <span><i class="fa fa-bars"></i></span>
                </nav>
              </div>
            </div>
        </div>
      </div>
    </header>
    <section>
      <div class="hero">
        <div class="container">
          <div class="row0">
            <!-- col-1 -->
            <div>
            <h1>Royalty free music for your videos</h1>

            <p>
              Get unlimited access to our music and sound effects catalog for
              your video,<br />streams and podcast. Our license comes with all
              necessary right included.
            </p>
            
             <p class="days">30-days free trial.cancel any time.</p>
            </div>
            <!-- col-2 -->
            <div class="Times">
              <div class="time1">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <div class="time2">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
                <div class="time3">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <div class="time4">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <div class="time5">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              </div>
              </div>
            
          </div>
        </div>
      </div>
    </section>

    <section>
    <div class="hero2">
      <div class="container">
        <div class="row1">
          <div class="titleSec">
            <h1>soundtrack everywhere</h1>
            <p>
              soundtracking with Epidemic means that your content will be safe
              from <br />copyright claim,anywhere you use it.
            </p>
          </div>
          <!-- col1 -->
          <div class="cards">
            <div class="cardsWrapper">
              <div class="card1">
                <h1>Youtube</h1>
                <div class="sign">
                  <p>forget about claims.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
                </div>
              <div class="card2">
                <h1>Twitch</h1>
                <div class="sign">
                  <p>Epic tracks for you.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
              <div class="card3">
                <h1>Films</h1>
                <div class="sign">
                  <p>soundtrack your world.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </div>
              </div>
            </div>
            <div class="cardsWrapper">
              <div class="card4">
                <h1>Facebook</h1>
                <div class="sign">
                  <p>make your stories pop.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
              <div class="card5">
                <h1>Instagram</h1>
                <div class="sign">
                  <p>stand out in the feed.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
             <div class="card6">
                <h1>Advertising</h1>
                <div class="sign">
                  <p>Amlify your brand.</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section>
    <div class="hero3">
      <div class="container">
        <div class=" row2">
          <div class="clock">
            <h1>Pick, Set,<br/>Soundtrack</h1>
            </div>
            <div class="statements">
             <div class="statement1">
               <h1>Try for Free</h1>
               <p>Explore our music and try it out for 30 days – free of charge, no strings attached. During your free trial you can download and publish as many tracks you like in both videos or podcasts</p> 
               <a href="#">Try for Free</a>
               <div class="statement2">
               <h1>Pick a Subscription</h1>
               <p>A subscription is most beneficial if you publish videos regularly. All subscriptions give you full access to 35,000 tracks and 90,000 sound effects. Unlimited downloads and use.</p>                                                                                                                                                                                                 
               </div>
                <a href="#">See Pricing</a>
               <div class="statement3">
               <h1>Connect to Channel</h1>
               <p>After signing up, you'll be able to connect your social media channels. All connected channels will be cleared, which means you can publish content with our music without worrying about copyright.</p>
             </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    </section>

    <section>
     <div class="pas">
       <div class="container">
         <div class=" row3">
           <h1>Pick a Subscription.</h1>
            <div class="heads">
              <div class="bg">
                 <div class="head1">
                  <h1>Personal</h1>
                  <p>You're creating content or<br /> podcasts for your own use.</p>
                  <h1>US$19/Month</h1>
                  <p>* When you pay US$108 upfront for one year. Otherwise US$15 / month.</p>
                 <div class="btn">
                   <a href=""><button >Read more</button></a>
                 </div> 
                </div>
                 <div class="head2">
                 <h1>Commerical</h1>
                 <p>You're a freelancer or<br /> business creating commercial<br /> products.</p>
                 <h1>US19$/Month</h1>
                  <p>* When you pay US$228 upfront for one year. Otherwise US$49 / month.</p>
                 <div class="btn">
                   <a href=""><button >Read more</button></a>
                 </div> 
               </div>
                 <div class="head3">
                  <h1>Enterprise</h1>
                 <p>You're a publisher,<br /> broadcaster or in need of an enterprise solution.</p>
                 <h1>Request a quote</h1>
                 <div class="btn">
                   <a href=""><button >Read more</button></a>
                 </div> 
               </div>
               </div>
            </div> 
          </div>
        </div>
      </div>
    </section> 



    <section>
     <div class="hero5">
       <div class="container">
          <div class="row4">
            <div class="grids">
             <div class="Wrappers">
                <div class="wap1">
                  <a href="#"> <p>creative skills</p></a>
               </div>
               <div class="wap2">
                 <a href="#"> <p>Deep Focus</p></a>
               </div>
               <div class="wap3">
                 <a href="#"> <p>Uplifting Workout</p></a>
               </div>
              </div>
              <div class="Wrappers">
               <div class="wap4">
                 <a href="#"> <p>Cinematic Score</p></a>
               </div>
               <div class="wap5">
                <a href="#"> <p>India gaming</p></a>
               </div>
               <div class="wap6">
                 <a href="#"> <p>Kitchen soundbeds</p></a>
               </div>
             </div>   
             <div class="Wrappers">
               <div class="wap7">
                 <a href="#"> <p>Clothing Haul</p></a>
               </div>
               <div class="wap8">
                 <a href="#"> <p>Crime Podast</p></a>
                </div>
               <div class="wap9">
                 <a href="#"> <p>Feelgood trailers</p></a>
                </div>     
              </div>
           </div>
           <div class="free">
               <p>Royalty free music to download or stream Get unlimited access to over 35,000 tracks & 90,000 sound effects</p>
             </div>
         </div>
       
       </div>
      </div> 
     </section>
       
    <section>
     <div class="hero6">
        <div class="container">s
          <div class="again">
            <h1>Never worry about royalty fees again</h1>
            <a href="#">All rights are included </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

   


   